.background-composite {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: white;
  background-image: 
    url('/N&T.png'),
    url('/LS.png'),
    url('/SS.png');
  background-repeat: 
    repeat,
    no-repeat,
    no-repeat;
  background-position: 
    0 0,
    60% 60%,
    60% 60%;
  background-size: 
    auto,
    auto,
    contain;
}